<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Motivator</th>
      <th>Credit</th>
    </tr>
  </thead>
  <tbody>
		<% @tasks.each do |task| %>
			<tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.creator %></td>
        <td><%= task.motivator %></td>
        <td><%= task.credit %></td>
			</tr>
		<% end %>
  </tbody>
</table>
